body {
    background-image: url("assets/texture-background1.jpg");
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

#headArea {
    color: white;
    background-color: black ;
    padding-top: 50px;
    margin-top: -50px;
    margin-right: -20px;
    margin-left: -20px;
    border: 1px solid white;
    opacity: 0.8;
}
#quoteBox {
    margin: auto;
    width: 30%;
    margin-top: 10%;
    padding: 100px;
    background-color: black;
    opacity: 0.8;
    border-radius: 20px;
}

#message {
    color: white;
    font-style: italic;
}

#qText {
    font-size: 2em;
    font-family: 'Droid Serif', serif;
}

#author {
    color: white;
    font-size: 1.2em;
    text-align: right;
}

#quoteButton {
    margin-top: 10%;
    margin-bottom: -15%;
    margin-left: 100%;
    margin-right: -15%;
    width: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    border: 2px solid white;
    opacity: 1;
    color: white;
    border-radius: 20px;
}

#quoteButton:hover {
    opacity: 0.8;
}

#tweetButton {
    float: left;
    display: inline;
    margin-top: 10%;
    margin-bottom: -15%;
}

#twitterIcon {
    width: auto;
    height: 35px;
    border-radius: 10px;
}
#twitterIcon:hover {
    opacity: 0.8;
}

a:link{
  text-decoration: none!important;
}

#footer {
    margin-top: 5%;
    text-align: center;
}